<h2>Workouts</h2>

<%=render 'form', workout: @workout %>
<br>
<%=link_to "Current Week's Progress", workout_current_week_path, class: "btn btn-md btn-secondary"%>
<br><br>

<%@workouts.each do |date, workouts| %>
    <ul>
      <li>
        <%=full_date(date)%><br>

        <% workouts.each do |workout| %>
            <%= link_to workout.name, workout_path(workout)%><br>
        <% end %>
      </li>
    </ul>
<% end %>
