<h1>Here are a list of your Workouts</h1>

<%=render 'form', workout: @workout %>

<%@workouts.each do |date, workouts| %>
    <ul>
      <li>
        <%=full_date(date)%><br>

        <% workouts.each do |workout| %>
            <%= link_to workout.name, workout_path(workout)%><br>
        <% end %>
      </li>
    </ul>
<% end %>
