<h2><%=@exercise.name%> <small>| <%=@exercise.bodypart%></small></h2>
<div class="btn-group" role="group" aria-label="Basic example">
  <%= link_to "Edit", edit_exercise_path(@exercise), class: "btn btn-secondary" %>
</div>